:root {
  --color-dark: #161616;
  --color-ocean: #416dea;
  --color-grass: #3dd28d;
  --color-snow: #ffffff;
  --color-salmon: #f32c52;
  --color-sun: #feee7d;
  --color-alge: #7999a9;
  --color-flower: #353866;
  --color-smoke: #e4e4e4;
  --borderRadius: 36px;
  --accent-clr: #f2f2f2;
  --accent-dark: #fff;
  --accent-light: rgba(155, 155, 155, 0.1);
  --text: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* font-family: "Lato", sans-serif; */
  font-size: 10px;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  height: 100vh;
  /* height: 100%; */
  background-repeat: no-repeat;
}

.display-none {
  display: none;
}

.button {
  overflow: hidden;
  margin: 1rem;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  border: 0 none;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  appearance: none;
}

.button:hover {
  transition: all 150ms linear;
  opacity: 0.85;
}

.button:active {
  transition: all 150ms linear;
  opacity: 0.75;
}

.button:focus {
  outline: 1px dotted #959595;
  outline-offset: -4px;
}

.button.-regular {
  color: #202129;
  background-color: #f2f2f2;
}

.button.-regular:hover {
  color: #202129;
  background-color: #e1e2e2;
  opacity: 1;
}

.button.-regular:active {
  background-color: #d5d6d6;
  opacity: 1;
}

.button.-dark {
  color: var(--color-snow);
  background: var(--color-dark);
}

.button.-dark:focus {
  outline: 1px dotted white;
  outline-offset: -4px;
}

.button.-green {
  color: var(--color-snow);
  background: var(--color-grass);
}

.button.-blue {
  color: var(--color-snow);
  background: var(--color-ocean);
}

.button.-salmon {
  color: var(--color-snow);
  background: var(--color-salmon);
}

.button.-sun {
  color: #f15c5c;
  background: var(--color-sun);
}

.button.-alge {
  color: #e7ff20;
  background: var(--color-alge);
}

.button.-flower {
  color: #fe8cdf;
  background: var(--color-flower);
}

/* nav {
  height: 80px;
  width: 100%;
}
nav .logo {
  display: inline-flex;
  margin: 2.5rem 0 0 2.5rem;
}
nav .logo img {
  width: 30px;
  height: 30px;
}
nav .logo h2 {
  font-size: 1.5rem;
  margin-left: 0.3rem;
} */

.main-section {
  margin: 0 7%;
  text-align: center;
}

.main-section .heading h1 {
  margin-top: 3.5rem;
  font-size: 3rem;
}

.main-section .heading p {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.main-section .actions {
  margin-top: 2.5rem;
}

.main-section .actions .action-title {
  margin-top: 1.5rem;
}

.main-section .actions .action-title .start-recording p {
  font-size: 1rem;
}

.main-section .app-details {
  margin: 5rem 0;
}

.main-section .app-details .card-body {
  display: flex;
  justify-content: space-evenly;
}

.main-section .app-details .card-body .card {
  width: 20rem;
  min-height: 10rem;
  border-radius: 0.8rem;
  background-image: linear-gradient(62deg, #8fbfee 0%, #d0aef0 100%);
}

.main-section .app-details .card-body .card .title {
  margin-top: 1.2rem;
  font-size: 1.3rem;
}

.main-section .app-details .card-body .card .description {
  margin-top: 1rem;
  font-size: 1rem;
}

.main-section .app-details .card-body .card .description p {
  text-align: left;
  padding: 0 1.2rem;
}

/* ===================== */
/* Wave Animation Starts */
#wave {
  height: 90px;
  width: 100px;
  fill: #416dea;
}

#Line_1 {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

#Line_2 {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

#Line_3 {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}

#Line_4 {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

#Line_5 {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

#Line_6 {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

#Line_7 {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-delay: 1.05s;
  animation-delay: 1.05s;
}

#Line_8 {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

#Line_9 {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
  -webkit-animation-delay: 1.35s;
  animation-delay: 1.35s;
}

@-webkit-keyframes pulse {
  0% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }

  50% {
    transform: scaleY(0.7);
    transform-origin: 50% 50%;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }
}

@keyframes pulse {
  0% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }

  50% {
    transform: scaleY(0.7);
    transform-origin: 50% 50%;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }
}

/* End of Wave Animation */
/* ===================== */

.recording-timer {
  display: flex;
  justify-content: center;
  font-size: 32px;
  margin-bottom: 10px;
}

.red-recording-dot {
  font-size: 25px;
  color: red;
  margin-top: 6px;
  margin-right: 30px;
  /*transitions with Firefox, IE and Opera Support browser support*/
  animation-name: flashing-recording-dot;
  -webkit-animation-name: flashing-recording-dot;
  -moz-animation-name: flashing-recording-dot;
  -o-animation-name: flashing-recording-dot;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
}

@keyframes flashing-recording-dot {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flashing-recording-dot {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes flashing-recording-dot {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes flashing-recording-dot {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ======================== */
/* Loading Animation Starts */
.text-indication-of-audio-playing-container {
  height: 20px;
}

.text-indication-of-audio-playing {
  font-size: 20px;
  line-height: 19px;
}

/* 3 Dots animation*/
.text-indication-of-audio-playing span {
  /*transitions with Firefox, IE and Opera Support browser support*/
  animation-name: blinking-dot;
  -webkit-animation-name: blinking-dot;
  -moz-animation-name: blinking-dot;
  -o-animation-name: blinking-dot;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
}

.text-indication-of-audio-playing span:nth-child(2) {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
}

.text-indication-of-audio-playing span:nth-child(3) {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
}

/* The animation code */
@keyframes blinking-dot {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* The animation code */
@-webkit-keyframes blinking-dot {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* The animation code */
@-moz-keyframes blinking-dot {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* The animation code */
@-o-keyframes blinking-dot {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.no-recording-section {
  height: 20px;
}

.no-recording-section p {
  font-size: 20px;
  line-height: 19px;
}

/* End of Loading Animation */
/* ======================== */
.after-recoding-section {
  margin: 40px 0;
}

.after-recoding-section h1 {
  font-size: 32px;
  text-decoration: underline;
}

.recording-status {
  display: inline-block;
  padding: 10px;
  border-radius: 12px;
  background-image: linear-gradient(62deg, #8fbfee 0%, #d0aef0 100%);
}

/* Timer Styles Starts  */
#timerWrapper {
  width: 100px;
}

#timerMins {
  margin-right: -8px;
}

#timerSeconds {
  margin-left: -8px;
}

/* Recording List Styles  */
.recording-list {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

#recordingsList {
  max-width: 60rem;
}

.recording-list li {
  list-style: none;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.recording-list audio {
  display: block;
  margin-top: 0.2rem;
  width: 25rem;
  margin-right: 15px;
}

.recording-list a {
  margin-left: 15px;
  font-size: 1.5rem;
}

/* Sidebar Styles Starts  */
.content-wrapper {
  height: 100%;
  display: flex;
}

.sidebar {
  width: 300px;
  background: white;
  padding-inline: 8px;
}

.main-section {
  width: calc(100% - 300px);
}

.sidenav {
  background-color: var(--accent-clr);
  height: 100%;
  padding-inline: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  /* justify-content: space-between; */
}

.sidenav_link {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 2px;
}

.sidenav_link:hover {
  background-color: var(--accent-light);
  border-radius: 8px;
}

.sidenav_link.active {
  font-weight: 700;
  background-color: var(--accent-light);
  border-radius: 8px;
}

.sidenav_link i {
  color: var(--text);
}

.sidenav_link:hover>h3,
.sidenav_link:hover i {
  color: var(--text);
}

.logo_section {
  height: 60px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  padding-inline: 14px;
}

.logo_section i {
  color: var(--text);
}

.logo_section h3 {
  font-weight: bold;
  font-size: 18px;
}

#nav_collapse_btn {
  position: absolute;
  top: 72px;
  left: 240px;
  transition: 250ms ease-out;
  background-color: var(--accent-dark);
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid var(--accent-light);
  height: 40px;
  width: 40px;
  cursor: pointer;
}

#nav_collapse_btn>i {
  color: var(--text);
  font-size: 18px;
  margin-left: 8px;
}

.sidenav_footer {
  margin-bottom: 12px;
}

.sidenav .bx {
  font-size: 22px;
  margin-right: 8px;
}

.sidenav h3 {
  color: var(--text);
  font-size: 16px;
  letter-spacing: 0.5px;
}

.sidenav a {
  text-decoration: none;
}

.sidenav .bx-calendar {
  position: relative;
}

.sidenav .external_link {
  border: none;
  background-color: transparent;
  position: absolute;
  left: 210px;
  top: 266px;
}