<div class="sidebar sidenav" id="side_bar_id">
    <div class="sidenav_header">
      <div class="logo_section">
        <i class="bx bxl-foursquare" style="font-size: 28px !important; margin-left: -6px !important;"></i>
        <a href="/"><h3 style="font-size: 24px !important;">ACM</h3></a>
      </div>
      <a href="{% url "recording-page" %}" class="sidenav_link active">
        <i class="bx bx-folder"></i>
        <h3>Recording Page</h3>
      </a>
      <a href="{% url "prediction-history" %}" class="sidenav_link">
        <i class="bx bx-file"></i>
        <h3>History</h3>
      </a>
    </div>
    <div class="sidenav_footer">
      <a href="/admin" class="sidenav_link" target="_blank">
        <i class="bx bx-rocket"></i>
        <h3>Admin Section</h3>
      </a>
    </div>

    <button id="nav_collapse_btn">
      <i class="bx bxs-chevrons-left"></i>
    </button>
</div>